<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー情報</h2>
      <div class="field">
        <h3>お名前</h3>
        <%= @user.nickname %>
      </div>

      <div class="field">
        <h3>メールアドレス</h3>
        <%= @user.email %>
      </div>
    </div>
  </div>
</div>