<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー情報</h2>
      <div class="field">
        <h4>お名前</h4>
        <%= @user.nickname %>
      </div>

      <div class="field">
        <h4>メールアドレス</h4>
        <%= @user.email %>
      </div>
      <div class="user__manage">
        <%= link_to "編集する", edit_user_registration_path, class: :album__btn %>
        <%= link_to "削除する", user_registration_path, method: :delete, class: :album__btn, data: {confirm: "ユーザー情報を削除します。よろしいですか？"} %>
      </div>
    </div>
  </div>
</div>