<div class="card">
  <%= link_to image_tag(album.album_image, class: :card__img), root_path%>
  <div class="card__body">
    <%= link_to album.title, root_path, class: :card__title%>
    <%= link_to "by #{album.user.nickname}", root_path, class: :card__user %>
  </div>
</div>