<div class="card">
  <%= link_to image_tag(album.album_image.variant(resize: '300x300'), class: :card__img), album_path(album) %>
  <div class="card__body">
    <%= link_to album.title, album_path(album), class: :card__title%>
    <%= link_to "by #{album.user.nickname}", root_path, class: :card__user %>
  </div>
</div>