<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
      </div>
      <div class="card__wrapper">
        <% @albums.each do |album| %>
          <%= render partial: "album", collection: @albums %>
        <% end %>
      </div>
    <% end %>
  </div>
</main>