<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">アルバム作成</h2>
        <%= render partial: "form", locals: {album: @album} %>
    </div>
  </div>
</div>